.app {
    width: 50rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightblue; */
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 0;
}

.app button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #293264;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContainer h1 {
    font-weight: 900;
}

.headerContainer p {
    font-size: 16px;
}

.headerContainer button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 16px;
    border-radius: 6px;
    border: none;
    background-color: #293264;
    color: #F5F7FB;
    margin-top: 20px;
    cursor: pointer;
}

.question {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.choices-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: 1px solid #293264;
}

.choices-container p {
    font-size: 14px;
    font-weight: 600;
    padding: 3px 15px;
    border: 2px solid #293264;
    border-radius: 6px;
    cursor: pointer;
}

.checkBtn  {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #293264;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}