.app {
    width: 60rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px 0;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContainer p {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 900;
}

.headerContainer small {
    font-size: 16px;
    font-weight: 500;
}

.headerContainer button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 16px;
    border-radius: 6px;
    border: none;
    background-color: #293264;
    color: #F5F7FB;
    margin-top: 20px;
    cursor: pointer;
}

.question {
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.question h2 {
    text-shadow: 2px 2px white;
}

.choices-container {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: 1px solid #293264;
}

.choices-container p {
    font-size: 14px;
    font-weight: 600;
    padding: 3px 15px;
    border: 2px solid #293264;
    border-radius: 6px;
    cursor: pointer;
}

.choices-container p:hover {
    scale: 1.05;
    transition: 0.1s;
}

.choices-container p:active {
    scale: 0.98;
}

.score {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    text-shadow: 2px 2px white;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-container button  {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #293264;
    background-color: #293264;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #F5F7FB;
    border: 2px solid #293264;
    color: #293264;
}